
main {
    height: 100vh;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    display: inline-block;
    text-align: center;
    height: 33vh;
    width: 50%;
    float: left;
}

.icon_link {
    display: block;
    padding: 10%;
    color: #feffff;
}

.icon_link:hover {
    color: #2b7a78;
}

.name_link {
    display: block;
    padding:  0% 10%;
    text-decoration: none;
    color: #17252a;
}

.vehicle {
    height: 23vh;
    width: 100%;
}

.vehicle section {
    width: 50%;
}

.vehicle_edit {
    float: right;
    padding: 5%;
    color: #17252a;
}

.vehicle_description {
    text-align: right;
    padding-right: 5%;
    color: #2b7a78;
}

.heading {
    display: block;
    text-align: center;
    padding-bottom: 3%;
}

.dark {
    background: #3aafa9;
    color: white;
}

.left {
    float: left;
}

.right {
    float: right;
}